<html>
  <meta charset="UTF-8" />
  <head>
    <title>Advert report</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      .home-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    </style>
  </head>
  <body>

    <div class="home-grid">
      {{#each adverts}}
        <div class="max-w-6xl">
          <div class="flex items-center justify-center">
            <div class="max-w-sm w-full py-6 px-3">
              <div class="bg-white shadow-xl rounded-lg overflow-hidden">
                <div
                  class="relative overflow-hidden bg-cover bg-center h-56 p-4"
                >
                  <img
                    class="absolute top-0 left-0 min-h-full"
                    src="{{this.photos.[0]}}"
                  />
                  <div class="flex justify-end">
                  </div>
                </div>
                <div class="p-4">
                  <p
                    class="uppercase tracking-wide text-sm font-bold text-gray-700"
                  >
                    {{this.views}} views •
                    Area {{this.area}} м² • {{date this.publish_date}}</p>
                  <p class="text-3xl text-gray-900">${{this.price}}</p>
                  <p class="text-gray-700">{{this.district}}</p>
                </div>
                <div class="flex p-4 border-t border-gray-300 text-gray-700">
                  <div class="flex-1 inline-flex items-center">
                    <p><span
                        class="text-gray-900 font-bold"
                      >{{this.room}}</span>
                      Rooms</p>
                  </div>
                  <div class="flex-1 inline-flex items-center">
                    <p><span
                        class="text-gray-900 font-bold"
                      >{{this.floor}}</span>
                      Floor</p>
                  </div>
                </div>
                <div
                  class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100"
                >
                  <div class="flex items-center pt-2">
                    <div>
                      <p class="font-bold text-gray-900">
                        <a
                          href="{{this.url}}"
                          target="_blank"
                        >{{this.amenities.[0]}}</a>
                      </p>
                      <a
                        class="text-sm text-gray-700"
                        href="tel:+995{{this.phones}}"
                      >{{this.phones}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div>
      <canvas id="myChart"></canvas>
    </div>

    <script>
      const ctx = document.getElementById('myChart'); new Chart(ctx, { type:
      'bar', data:
      {{json statistics.flatsByType}}, options: { animation: { duration: 0, },
      scales: { y: { beginAtZero: true } } } });
    </script>
  </body>
</html>